/* 
.carousel-slideshow{

    width: 60%;
    margin: auto;
    
    overflow:auto;
    align-items: center;

}

.carousel-slideshow Carousel{

    max-width: 400px;
    max-height: 400px;
    

}

.carousel-slideshow img{
    width: auto;
    height: 450px;
    max-height: 450px;
    color: blue;
} */