/* 
.carousel-slideshow{

    width: 60%;
    margin: auto;
    
    overflow:auto;
    align-items: center;

}

.carousel-slideshow Carousel{

    max-width: 400px;
    max-height: 400px;
    

}

.carousel-slideshow img{
    width: auto;
    height: 450px;
    max-height: 450px;
    color: blue;
} */

.slider-container .slider-left {
    position: absolute;
    z-index: 3;
    display: block;
    right: 85%;
    top: 50%;
    color: #ffffff;
    transform: translateY(-50%);
    padding: 20px 15px;
 
    margin-right: -2px;
  }
  .slider-container .slider-right {
    position: absolute;
    z-index: 3;
    display: block;
    left: 85%;
    top: 50%;
    color: #ffffff;
    transform: translateY(-50%);
    padding: 20px 15px;
    margin-left: -2px;
  }